<!doctype html>
<html lang="en">

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>Prolancer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/colors/blue.css">

</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header Container
================================================== -->
		<header id="header-container" class="fullwidth">

			<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Left Side Content -->
					<div class="left-side">

						<!-- Logo -->
						<div id="logo">
							<a href="http://localhost:3000/index-company"><img src="/images/prolancerlogo.jpeg"
									alt=""></a>
						</div>

						<!-- Main Navigation -->
						<nav id="navigation">
							<ul id="responsive">

								<li><a href="#" class="current">Home</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/index-company">Home Page</a></li>

									</ul>
								</li>

								<li><a href="#">Find Companies</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/browse-companies">Browse Companies</a></li>
										<li><a href="http://localhost:3000/companyprofile">Company Profile</a>
										</li>
									</ul>
								</li>

								<li><a href="#">For Company</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/freelancers-grid-layout-full-page">Find a
												Freelancer</a>
										</li>
										<li><a href="http://localhost:3000/dashboard-post-a-job">Post a Job</a></li>
										<li><a href="http://localhost:3000/dashboard-post-a-task">Post a Task</a></li>
									</ul>
								</li>

								<li><a href="#">Dashboard</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/companyreviews">Reviews</a></li>
										<li><a href="http://localhost:3000/dashboard-manage-jobs">Jobs</a>
											<ul class="dropdown-nav">
												<li><a href="http://localhost:3000/dashboard-manage-jobs">Manage
														Jobs</a></li>
												<li><a href="http://localhost:3000/dashboard-post-a-job">Post a Job</a>
												</li>
											</ul>
										</li>
										<li><a href="http://localhost:3000/dashboard-manage-tasks">Tasks</a>
											<ul class="dropdown-nav">
												<li><a href="http://localhost:3000/dashboard-manage-tasks">Manage
														Tasks</a></li>
												<li><a href="http://localhost:3000/dashboard-post-a-task">Post a
														Task</a></li>
											</ul>
										</li>
										<li><a href="http://localhost:3000/setting-company">Settings</a></li>
									</ul>
								</li>

								<li><a href="http://localhost:3000/pages-contact">Contact us</a>
								</li>

							</ul>
						</nav>
						</nav>
						<div class="clearfix"></div>
						<!-- Main Navigation / End -->

					</div>
					<!-- Left Side Content / End -->


					<!-- Right Side Content / End -->
					<div class="right-side">


						<!-- User Menu -->
						<div class="header-widget">

							<!-- Messages -->
							<div class="header-notifications user-menu">
								<div class="header-notifications-trigger">
									<a href="#">
										<div class="user-avatar status-online"><img src="<%= details[0].image %>"
												alt=""></div>
									</a>
								</div>

								<!-- Dropdown -->
								<div class="header-notifications-dropdown">

									<!-- User Status -->
									<div class="user-status">

										<!-- User Name / Avatar -->
										<div class="user-details">
											<div class="user-avatar status-online"><img src="<%= details[0].image %>"
													alt="Company Logo"></div>
											<div class="user-name">
												<%= details[0].companyname%> <span>Employeer</span>
											</div>
										</div>

										<!-- User Status Switcher -->
										<div class="status-switch" id="snackbar-user-status">
											<label class="user-online current-status">Online</label>
											<label class="user-invisible">Invisible</label>
											<!-- Status Indicator -->
											<span class="status-indicator" aria-hidden="true"></span>
										</div>
									</div>

									<ul class="user-menu-small-nav">
										<li><a href="http://localhost:3000/logout/company"><i
													class="icon-material-outline-power-settings-new"></i> Logout</a>
										</li>
									</ul>

								</div>
							</div>

						</div>
						<!-- User Menu / End -->
						<!-- Mobile Navigation Button -->
						<span class="mmenu-trigger">
							<button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</button>
						</span>

					</div>
					<!-- Right Side Content / End -->

				</div>
			</div>
			<!-- Header / End -->

		</header>
		<div class="clearfix"></div>
		<!-- Header Container / End -->
		<!-- Dashboard Container -->
		<div class="dashboard-container">



			<!-- Dashboard Content
	================================================== -->
			<div class="dashboard-content-container" data-simplebar>
				<div class="dashboard-content-inner">

					<!-- Dashboard Headline -->
					<div class="dashboard-headline">
						<h3>Post a Job</h3>

						<!-- Breadcrumbs -->
						<nav id="breadcrumbs" class="dark">
							<ul>
								<li><a href="http://localhost:3000/index-company">Home</a></li>
								<li><a href="http://localhost:3000/index-company">Dashboard</a></li>
								<li>Post a Job</li>
							</ul>
						</nav>
					</div>
					<!-- Row -->
					<div class="row">
						<form method="post" id="postjob" enctype="multipart/form-data">
							<!-- Dashboard Box -->
							<div class="col-xl-12">
								<div class="dashboard-box margin-top-0">

									<!-- Headline -->

									<div class="headline">
										<h3><i class="icon-feather-folder-plus"></i> Job Submission Form</h3>
									</div>

									<div class="content with-padding padding-bottom-10">
										<div class="row">

											<div class="col-xl-4">
												<div class="submit-field">
													<h5>Job Title</h5>
													<input type="text" name="job_title" id="job_title"
														class="with-border">
												</div>
											</div>

											<div class="col-xl-4">
												<div class="submit-field">
													<h5>Job Type</h5>
													<select class="selectpicker with-border" name="job_type"
														id="job_type" data-size="7" title="Select Job Type">
														<option>Full Time</option>
														<option>Freelance</option>
														<option>Part Time</option>
														<option>Internship</option>
														<option>Temporary</option>
													</select>
												</div>
											</div>

											<div class="col-xl-4">
												<div class="submit-field">
													<h5>Job Category</h5>
													<select class="selectpicker with-border" name="category"
														data-size="7" title="Select Category" id="category">
														<option>Accounting and Finance</option>
														<option>Clerical & Data Entry</option>
														<option>Counseling</option>
														<option>Court Administration</option>
														<option>Human Resources</option>
														<option>Investigative</option>
														<option>IT and Computers</option>
														<option>Law Enforcement</option>
														<option>Management</option>
														<option>Miscellaneous</option>
														<option>Public Relations</option>
													</select>
												</div>
											</div>

											<div class="col-xl-4">
												<div class="submit-field">
													<h5>Location</h5>
													<div class="input-with-icon">
														<div id="autocomplete-container">
															<input id="autocomplete-input" class="with-border"
																name="address" id="address" type="text"
																placeholder="Type Address">
														</div>
														<i class="icon-material-outline-location-on"></i>
													</div>
												</div>
											</div>

											<div class="col-xl-4">
												<div class="submit-field">
													<h5>Salary</h5>
													<div class="row">
														<div class="col-xl-6">
															<div class="input-with-icon">
																<input class="with-border" name="min" id="min"
																	type="number" placeholder="Min">
																<i class="currency">USD</i>
															</div>
														</div>
														<div class="col-xl-6">
															<div class="input-with-icon">
																<input class="with-border" name="max" id="max"
																	type="number" placeholder="Max">
																<i class="currency">USD</i>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-xl-4">
												<div class="submit-field">
													<h5>Tags <i class="help-icon" data-tippy-placement="right"
															title="Add tags that best describe your project"></i></h5>
													<div class="input-with-icon">
														<div id="autocomplete-container">
															<input id="autocomplete-input" name="tag" type="text"
																placeholder="tag1,tag2,tag3..">
														</div>
														<i class="icon-material-outline"></i>
													</div>
												</div>
											</div>

											<div class="col-xl-12">
												<div class="submit-field">
													<h5>Job Description</h5>
													<textarea cols="30" rows="5" name="job_description"
														class="with-border" required></textarea>
													<div class="uploadButton margin-top-30">
														<input class="uploadButton-input" name="image_upload"
															type="file" accept="image/*, application/pdf" required
															id="upload" multiple />
														<label class="uploadButton-button ripple-effect"
															for="upload">Upload Files</label>
														<span class="uploadButton-file-name">Images or documents that
															might be helpful in describing your project</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
						<div class="col-xl-12">

							<button href="http://localhost:3000/dashboard-reviews"
								class="button  button-sliding-icon ripple-effect margin-top-10" type="submit"
								form="postjob" value="Submit">Submit</button>

							<!-- <a href="http://localhost:3000/dashboard-reviews" class="btn btn-info" role="button"><button class="button ripple-effect big margin-top-30" type="submit" form="postjob" ><i class="icon-feather-plus"></i> Post a Job</a></button> -->
						</div>

					</div>
					<!-- Row / End -->

					<!-- Footer -->
					<div class="dashboard-footer-spacer"></div>
					<div class="small-footer margin-top-15">
						<div class="small-footer-copyrights">
							© 2022 <strong>Prolancers</strong>. All Rights Reserved.
						</div>
						<ul class="footer-social-links">
							<li>
								<a href="#" title="Facebook" data-tippy-placement="top">
									<i class="icon-brand-facebook-f"></i>
								</a>
							</li>
							<li>
								<a href="#" title="Twitter" data-tippy-placement="top">
									<i class="icon-brand-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" title="Google Plus" data-tippy-placement="top">
									<i class="icon-brand-google-plus-g"></i>
								</a>
							</li>
							<li>
								<a href="#" title="LinkedIn" data-tippy-placement="top">
									<i class="icon-brand-linkedin-in"></i>
								</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<!-- Footer / End -->

				</div>
			</div>
			<!-- Dashboard Content / End -->

		</div>
		<!-- Dashboard Container / End -->

	</div>
	<!-- Wrapper / End -->


	<!-- Scripts
================================================== -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="/js/mmenu.min.js"></script>
	<script src="/js/tippy.all.min.js"></script>
	<script src="/js/simplebar.min.js"></script>
	<script src="/js/bootstrap-slider.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/snackbar.js"></script>
	<script src="/js/clipboard.min.js"></script>
	<script src="/js/counterup.min.js"></script>
	<script src="/js/magnific-popup.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/custom.js"></script>

	<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
	<script>
		// Snackbar for user status switcher
		$('#snackbar-user-status label').click(function () {
			Snackbar.show({
				text: 'Your status has been changed!',
				pos: 'bottom-center',
				showAction: false,
				actionText: "Dismiss",
				duration: 3000,
				textColor: '#fff',
				backgroundColor: '#383838'
			});
		}); 
	</script>

	<!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
	<script src="js/chart.min.js"></script>
	<script>
		Chart.defaults.global.defaultFontFamily = "Nunito";
		Chart.defaults.global.defaultFontColor = '#888';
		Chart.defaults.global.defaultFontSize = '14';

		var ctx = document.getElementById('chart').getContext('2d');

		var chart = new Chart(ctx, {
			type: 'line',

			// The data for our dataset
			data: {
				labels: ["January", "February", "March", "April", "May", "June"],
				// Information about the dataset
				datasets: [{
					label: "Views",
					backgroundColor: 'rgba(42,65,232,0.08)',
					borderColor: '#2a41e8',
					borderWidth: "3",
					data: [196, 132, 215, 362, 210, 252],
					pointRadius: 5,
					pointHoverRadius: 5,
					pointHitRadius: 10,
					pointBackgroundColor: "#fff",
					pointHoverBackgroundColor: "#fff",
					pointBorderWidth: "2",
				}]
			},

			// Configuration options
			options: {

				layout: {
					padding: 10,
				},

				legend: { display: false },
				title: { display: false },

				scales: {
					yAxes: [{
						scaleLabel: {
							display: false
						},
						gridLines: {
							borderDash: [6, 10],
							color: "#d8d8d8",
							lineWidth: 1,
						},
					}],
					xAxes: [{
						scaleLabel: { display: false },
						gridLines: { display: false },
					}],
				},

				tooltips: {
					backgroundColor: '#333',
					titleFontSize: 13,
					titleFontColor: '#fff',
					bodyFontColor: '#fff',
					bodyFontSize: 13,
					displayColors: false,
					xPadding: 10,
					yPadding: 10,
					intersect: false
				}
			},


		});

	</script>


	<!-- Google Autocomplete -->
	<script>
		function initAutocomplete() {
			var options = {
				types: ['(cities)'],
				// componentRestrictions: {country: "us"}
			};

			var input = document.getElementById('autocomplete-input');
			var autocomplete = new google.maps.places.Autocomplete(input, options);

			if ($('.submit-field')[0]) {
				setTimeout(function () {
					$(".pac-container").prependTo("#autocomplete-container");
				}, 300);
			}
		}
	</script>

	<!-- Google API & Maps -->
	<!-- Geting an API Key: https://developers.google.com/maps/documentation/javascript/get-api-key -->
	<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places"></script>


</body>

</html>