<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>Prolancer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/colors/blue.css">


</head>
<body>
	

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth">

	<!-- Header -->
	<div id="header">
		<div class="container" >
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="#"><img src="/images/prolancerlogo.jpeg" alt=""></a>

				</div>
				
			
				<!-- Main Navigation -->
				<nav id="navigation" >
					<h1  style="font-size: 50px;"><strong>ProLancers </strong> </h1>

				
			</nav>
			<div class="clearfix"></div>
			<!-- Main Navigation / End -->
			
		</div>
		<!-- Left Side Content / End -->


		<!-- Right Side Content / End -->
		
	</div>
</div>
<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

<style>
    .content {
      max-width: 1400px;
      margin: auto;
    }
    </style>
    <body>
    <div class="content">
        <br>
        <br>
        <br>
      <h1>Privacy Policy</h1>
      <p>This privacy policy explains how our freelancing website collects, uses, and shares personal information of its users.</p>
      <h2>Personal Information Collected</h2>
      <p>We collect the following types of personal information from our users:</p>
      <ul>
        <li>Name</li>
        <li>Email address</li>
        <li>Billing information</li>
        <li>Professional experience and skills</li>
      </ul>
      <h2>Use of Personal Information</h2>
      <p>We use the personal information we collect for the following purposes:</p>
      <ul>
        <li>To match freelancers with potential clients</li>
        <li>To facilitate the payment process for completed projects</li>
        <li>To provide customer support</li>
        <li>To send marketing emails</li>
      </ul>
      <h2>Sharing of Personal Information</h2>
      <p>We may share personal information with the following parties:</p>
      <ul>
        <li>Third-party service providers</li>
        <li>Potential clients</li>
      </ul>
      <h2>Data Security</h2>
      <p>We take the following measures to protect the security of personal information:</p>
      <ul>
        <li>Encryption</li>
        <li>Security protocols</li>
      </ul>
      <h2>Cookies and Tracking Technologies</h2>
      <p>We may use cookies and other tracking technologies on our website. You can control the use of these technologies through your browser settings.</p>
      <h2>User Rights</h2>
      <p>You have the following rights with respect to your personal information:</p>
      <ul>
        <li>The right to access your personal information</li>
        <li>The right to correct your personal information</li>
        <li>The right to delete your personal information</li>
      </ul>
      <h2>Changes to this Privacy Policy</h2>
      <p>We may update this privacy policy from time to time. If we make any changes, we will notify you by posting the updated policy on this page. You can contact us with any questions or concerns about your personal information.</p>
      <br>
        <br>
        <br>
    </div>
</div></body>
 <!-- Footer
================================================== -->
<div id="footer">
	
	<!-- Footer Top Section -->
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Footer Rows Container -->
					<div class="footer-rows-container">
						
						<!-- Left Side -->
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="/images/prolancerlogo.jpeg" alt="">
									<h1  style="font-size: 50px; color: blanchedalmond;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ProLancers </strong> </h1>
								</div>
							</div>
						</div>
						
						<!-- Right Side -->
						<div class="footer-rows-right">

							<!-- Social Icons -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li>
											<a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-google-plus-g"></i>
											</a>
										</li>
										<li>
											<a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-linkedin-in"></i>
											</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
							
							<!-- Language Switcher -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<label >Language : English</label>
								</div>
							</div>
						</div>

					</div>
					<!-- Footer Rows Container / End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top Section / End -->

	<!-- Footer Copyrights -->
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					© 2022 <strong>Prolancers</strong>. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copyrights / End -->

</div>
<!-- Footer / End -->



